<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PpmClientAngular</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<!-- NavBar Component Code -->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-4">
  <div class="container">
    <a class="navbar-brand" href="Dashboard.html">
      Personal Project Management Tool
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
      <span class="navbar-toggler-icon" />
    </button>

    <div class="collapse navbar-collapse" id="mobile-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">
            Dashboard
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link " href="register.html">
            Sign Up
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Dashboard Component (Project Item included) -->

<div class="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4 text-center">Projects</h1>
        <br />
        <a href="/projectForm" class="btn btn-lg btn-info">
          Create a Project
        </a>
        <br />
        <hr />
      </div>
    </div>
  </div>
</div>

<!-- End of Dashboard Component -->

<!--  <app-root></app-root>-->
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"-->
<!--        crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="runtime-es2015.1d8c39bf8af8ca7126e9.js" type="module"></script><script src="polyfills-es2015.824ed6a46aafd5221e6b.js" type="module"></script><script src="runtime-es5.bbf092e00283d094f4df.js" nomodule defer></script><script src="polyfills-es5.920399604bb2dc2cacae.js" nomodule defer></script><script src="main-es2015.d24c3210c2f9f789924e.js" type="module"></script><script src="main-es5.42c3aea61715d7e8f35d.js" nomodule defer></script></body>-->
<script src="js/index.js"></script>
</body>
</html>
